html{
    background-image: url(uni-alicante-ok.jpg);
    justify-content: center;
    align-items: center;
}
html:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity:0.7;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


section{
    text-align: center;
    position: relative;
}

.funciones>h1{
    font-size: x-large;
}


.funciones{
    background-color: white;
    margin: auto;
    width: auto;
    height: auto;
    border-radius: 25px;
}


#flex{
    align-self: auto;
    flex: content;
    display: block;
    margin-top: auto;
    margin-top: auto;
}

#flex>article>section>b{
    background-color: white;
    margin: auto;
}

#flex>article>section>b>p{
   border-top:1px solid black;
}

#flex>article>section{
    background-color: rgb(71, 71, 71);
    columns: 2;
}

#flex>article{
    background-color: rgb(116, 116, 116);
    
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 3px solid black;
    margin: 5em;

}

#flex>article>h2{
    border-bottom: 2px solid black;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
}